<app-sidebar></app-sidebar>
<div class="body-position">
    <app-dashboard-head></app-dashboard-head>
    <div class="main-container">
        <div>
            <h4>Sheet History</h4>
            <p class="page-intro">Whole data about your business here</p>
        </div>
        <div class="order-body">
            <div class="order-search-panel">
                <input type="text" placeholder="Search Regions" class="order-search form-control"
                >
    
            </div>
            <div class="order-table table-container">
                <table class="table table-striped">
                    <thead style="
                    background: #ffffff;
                    position: sticky;">
                    <tr class="header-fixed">
                        <th class="nowrap col-md-2 col-lg-1 text-center">
                            <span class="font">Id</span>
                        </th>
                        <th class="nowrap col-md-2 col-lg-1 text-center">
                            <span class="font">Email Sent to all</span>
                        </th>
                        <th class="nowrap col-md-2 col-lg-1 text-center">
                            <span class="font">Sheet Name</span>
                        </th>
                        <th class="nowrap col-md-2 col-lg-1 text-center">
                            <span class="font">Sheet Id</span>
                        </th>
                        <th class="nowrap col-md-2 col-lg-1 text-center">
                            <span class="font">Custom</span>
                        </th>
                        <th class="nowrap col-md-2 col-lg-1 text-center">
                            <span class="font">Inovice Date</span>
                        </th>
                        <th class="nowrap col-md-2 col-lg-1 text-center">
                            <span class="font">start Date</span>
                        </th>
                        <th class="nowrap col-md-2 col-lg-1 text-center">
                            <span class="font">End Date</span>
                        </th>
                    </tr>
                </thead>

                    <tbody>
                        <tr *ngFor="let sheetHistor of sheetHistory" class="order-table-row-hover">
                            <th scope="row" class="tracking-id text-center">{{sheetHistor.id}}</th>
                            <td class="text-center w-auto col-md-2 col-lg-1">{{sheetHistor.isEmailSent}}</td>
                            <td class="text-center w-auto col-md-2 col-lg-1">{{sheetHistor.name}}</td>
                            <td class="text-center w-auto col-md-2 col-lg-1">{{sheetHistor.uniqueUUid}}</td>
                            <td class="text-center w-auto col-md-2 col-lg-1">{{sheetHistor?.custom?.customPort}}</td>
                            <td class="text-center w-auto col-md-2 col-lg-1">{{sheetHistor.invoiceDate}}</td>
                            <td class="text-center w-auto col-md-2 col-lg-1">{{sheetHistor.startDate}}</td>
                            <td class="text-center w-auto col-md-2 col-lg-1">{{sheetHistor.endDate}}</td>
                           
                          
                        </tr>
                      
    
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-4" *ngIf="sheetHistory!.length > 0">
            <div class="col">
              <!-- Your content here -->
           </div>
            <div class="col-auto">
                <mat-paginator [pageSize]="itemsPerPage" [length]="totalItems" (page)="changePage($event)"> </mat-paginator>
            </div>
        </div>  

    </div>
</div>