<nav class="main-menu">
    <div class="sidebar-head" (click)="dashboard()">
        <img src="../../../assets/smca-logo.png" alt="" class="sidebar-img">
    </div>
    <ul>
        <li>
            <span class="sidebar-list-hover" (click)="dashboard()">
                <i class="fa fa-home fa-2x"></i>
                <h6 class="nav-text">
                    Dashboard
                </h6>
            </span>
        </li>
        <li>
            <span class="sidebar-list-hover" (click)="user()">
                <i class="fa fa-user fa-2x"></i>
                <span class="nav-text">
                    Users
                </span>
            </span>

        </li>
        <li>
            <span class="sidebar-list-hover" (click)="customer()">
                <i class="fa fa-shopping-cart fa-2x"></i>
                <span class="nav-text">
                    Customers
                </span>
            </span>

        </li>
        <li>
            <span class="sidebar-list-hover" (click)="customPort()">
                <i class="fa fa-shipping-fast fa-2x"></i>
                <span class="nav-text">
                    Custom Port
                </span>
            </span>

        </li>
        <li>
            <span class="sidebar-list-hover">
                <i class="fa fa-shop fa-2x"></i>
                <span class="nav-text">
                    Sellers
                </span>
            </span>
        </li>
        <li>
            <span class="sidebar-list-hover" (click)="import()">
                <i class="fa fa-download fa-2x"></i>
                <span class="nav-text">
                    Import Excel
                </span>
            </span>
        </li>
        <li>
            <span class="sidebar-list-hover">
                <i class="fa fa-add fa-2x"></i>
                <span class="nav-text">
                    Add Product
                </span>
            </span>
        </li>
        <li>
            <span class="sidebar-list-hover">
                <i class="fa fa-book fa-2x"></i>
                <span class="nav-text">
                    Transactions
                </span>
            </span>
        </li>
        <li>
            <span class="sidebar-list-hover">
                <i class="fa fa-user fa-2x"></i>
                <span class="nav-text">
                    Accounts
                </span>
            </span>
        </li>
        <li>
            <span class="sidebar-list-hover">
                <i class="fa fa-star fa-2x"></i>
                <span class="nav-text">
                    Brands
                </span>
            </span>
        </li>
        <li>
            <span class="sidebar-list-hover">
                <i class="fa fa-phone fa-2x"></i>
                <span class="nav-text">
                    Contact
                </span>
            </span>
        </li>
    </ul>
</nav>