<app-sidebar></app-sidebar>
<div class="body-position">
    <app-dashboard-head></app-dashboard-head>
    <div class="main-container">
        <!-- <div>
            <h4>Regions</h4>
            <p class="page-intro">Whole data about your business here</p>
        </div> -->
        <div class="order-body">
            <!-- <div class="order-search-panel">
                <input type="text" placeholder="Search Regions" class="order-search form-control">

            </div> -->
            <div class="order-table table-container">
                <table class="table table-striped">
                    <thead style="
                    background: #ffffff;
                    position: sticky;">
                        <tr class="header-fixed">
                            <th class="nowrap col-md-2 col-lg-1 text-center">
                                <span class="font">Id</span>
                            </th>
                            <th class="nowrap col-md-2 col-lg-1 text-center">
                                <span class="font">Account Number</span>
                            </th>
                            <th class="nowrap col-md-2 col-lg-1 text-center">
                                <span class="font">Invoice Number</span>
                            </th>
                            <th class="nowrap col-md-2 col-lg-1 text-center">
                                <span class="font">Current Status</span>
                            </th>
                            <th class="nowrap col-md-2 col-lg-1 text-center">
                                <span class="font">Excel Download</span>
                            </th>
                            <th class="nowrap col-md-2 col-lg-1 text-center">
                                <span class="font">Pdf Download</span>
                            </th>
                            <th class="nowrap col-md-2 col-lg-1 text-center">
                                <span class="font">Sheet Id</span>
                            </th>
                            <th class="nowrap col-md-2 col-lg-1 text-center">
                                <span class="font">Emailed</span>
                            </th>
                            <th class="nowrap col-md-2 col-lg-1 text-center">
                                <span class="font">Delete Content</span>
                            </th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let tar of transaction" class="order-table-row-hover">
                            <th scope="row" class="tracking-id text-center">{{tar?.id}}</th>
                            <td class="text-center w-auto col-md-2 col-lg-1">{{tar?.accountNumber}}</td>
                            <td class="text-center w-auto col-md-2 col-lg-1">{{tar?.invoiceNumber}}</td>
                            <td class="text-center w-auto col-md-2 col-lg-1">{{tar?.currentStatus}}</td>

                            <ng-container *ngIf="tar?.mailSent; else notSent">
                                <td class="text-center w-auto col-md-2 col-lg-1" (click)="downloadExcel(tar)">
                                  <!-- Render download icon when mailSent is true -->
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                  </svg>
                                </td>
                              </ng-container>

                              <ng-template #notSent>
                                <td class="text-center w-auto col-md-2 col-lg-1">Not Made</td>
                              </ng-template>

                                


                              <ng-container *ngIf="tar?.mailSent; else notSentPdf">
                                <td class="text-center w-auto col-md-2 col-lg-1" (click)="downloadPdf(tar)">
                                  <!-- Render download icon when mailSent is true -->
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                  </svg>
                                </td>
                              </ng-container>

                              <ng-template #notSentPdf>
                                <td class="text-center w-auto col-md-2 col-lg-1">Not Made</td>
                              </ng-template>


                            <td class="text-center w-auto col-md-2 col-lg-1">{{tar?.sheetId}}</td>
                            <td class="text-center w-auto col-md-2 col-lg-1">{{tar?.mailSent}}</td>
                                <td class="order-table-btns-container text-center w-auto col-md-2 col-lg-1">
                                    <button *ngIf="!tar.mailSent" type="button" class="btn btn-danger" (click)="deleteData(tar.accountNumber, tar.sheetId)">Delete Content</button>
                                </td>

                                  
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
-->

        <div class="row mt-4" *ngIf="transaction.length > 0">
            <div class="col">
                
            </div>
            <div class="col-auto">
                <mat-paginator [pageSize]="itemsPerPage" [pageIndex]="currentPage" [length]="totalItems" (page)="changePage($event)">
                </mat-paginator>
            </div>
        </div>

    </div>
</div>