<app-sidebar></app-sidebar>
<div class="body-position">
    <app-dashboard-head></app-dashboard-head>


    <div class="main-container">
        <div>
            <h4>Currency</h4>
            <p class="page-intro">Whole data about your business here</p>
        </div>
        <div class="order-body">
            <div class="order-search-panel">
                <input 
                type="text" 
                placeholder="Search By Currency From/To" 
                class="order-search form-control" 
                [(ngModel)]="searchText"
                (ngModelChange)="getCurrency(0, 10);">
                <div>
                    <button class="btn btn-outline-primary custom-outline-primary font-size14px rounded-lg custom-margin" type="submit" (click)="addCurrency()">
                        <span>Add Currency</span>
                    </button>
                    <button *ngIf="currency!.length!=0 && currency!=null" class="btn btn-outline-primary custom-outline-primary font-size14px rounded-lg" type="submit" (click)="downloadFile()">
                        <span>Download Excel</span>
                    </button>
                </div>
            </div>
            <div class="order-tablet table-container">
                <table class="table table-striped">
                    <thead style="
                    background: #ffffff;
                    position: sticky;">
                    <tr class="header-fixed">
                        <th class="nowrap col-md-2 col-lg-1 text-center">
                            <span class="font">Id</span>
                        </th>
                        <th class="nowrap col-md-2 col-lg-1 text-center">
                            <span class="font">Currency From</span>
                        </th>
                        <th class="nowrap col-md-2 col-lg-1 text-center">
                            <span class="font">Currency To</span>
                        </th>
                        <th class="nowrap col-md-2 col-lg-1 text-center">
                            <span class="font">Conversion Rate</span>
                        </th>
                        <th class="nowrap col-md-2 col-lg-1 text-center">
                            <span class="font">Created By</span>
                        </th>
                        <th class="nowrap col-md-2 col-lg-1 text-center">
                            <span class="font">Created At</span>
                        </th>
                        <th class="nowrap col-md-2 col-lg-1 text-center">
                            <span class="font">Updated By</span>
                        </th>
                        <th class="nowrap col-md-2 col-lg-1 text-center">
                            <span class="font">Updated At</span>
                        </th>
                        <th class="nowrap col-md-2 col-lg-1 text-center">
                            <span class="font">Status</span>
                        </th>
                        <th class="nowrap col-md-2 col-lg-1 text-center">
                            <span class="font">History</span>
                        </th>
                        <th class="nowrap col-md-2 col-lg-1 text-center">
                            <span class="font">Actions</span>
                        </th>
                    </tr>
                </thead>

                    <tbody>
                        <tr *ngFor="let data of currency" class="order-table-row-hover">
                            <th scope="row" class="tracking-id text-center">{{data?.id}}</th>
                            <td class="text-center w-auto">{{data?.currencyFrom}}</td>
                            <td class="text-center w-auto">{{data?.currencyTo}}</td>
                            <td class="text-center w-auto">{{data?.conversionRate}}</td>
                            <td class="text-center w-auto">{{data?.createdBy}}</td>
                            <td class="text-center w-auto">{{data?.createdAt}}</td>
                            <td class="text-center w-auto">{{data?.updatedBy}}</td>
                            <td class="text-center w-auto">{{data?.updatedAt}}</td>
                            <td class="text-center w-auto">{{data?.isPresent}}</td>
                            <td class="order-table-btns-container text-center w-auto">
                                <i class="fa-solid fa-history" style="cursor: pointer !important;" (click)="showHistory(data?.id)"></i>&nbsp;
                            </td>
                            <td class="order-table-btns-container text-center w-auto">
                                <i [style.color]="data?.isPresent ? 'black' : 'red'" style="cursor: pointer !important;" class="fa-solid fa-pen"(click)="updateCurrency(data?.id)"></i>&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-4" *ngIf="currency!.length > 0">
            <div class="col">
              <!-- Your content here -->
            </div>
            <div class="col-auto">
                <mat-paginator [pageSize]="itemsPerPage" [length]="totalItems" (page)="changePage($event)"> </mat-paginator>
            </div>
        </div>
    </div>
</div>