<div class="dash-head">
    <div style="display: flex;">
        <input type="text" class="form-control input-dashboard" placeholder="Search">
        <button type="button" class="order-table-btn btn btn-prop ">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>

    <div class="dash-dd">
        <!-- <div class="dropdown">
            <input type="checkbox" class="checkbox" id="dropdown-toggle">
            <label class="dropdown-label" for="dropdown-toggle">
                <img src="https://wp.alithemes.com/html/evara/evara-backend/assets/imgs/people/avatar2.jpg"
                    class="img-dash" alt="Dropdown">
            </label>
            <div class="dropdown-menu">
                <div class="dropdown-menu-item hover-effect">
                    
                </div>
                <div class="dropdown-menu-item hover-effect">
                    
                </div>
                <div class="dropdown-menu-item hover-effect">
                    
                </div>
                <div class="dropdown-menu-item hover-effect">
                    <i class="fa-solid fa-question"></i> &nbsp;&nbsp;
                    Edit profile
                </div>
            </div>
        </div> -->
        <!-- <div class="dropdown" style="float: right;">
            <button class="dd-head-dropbtn"><img
                    src="https://wp.alithemes.com/html/evara/evara-backend/assets/imgs/people/avatar2.jpg"
                    style="width: 53px;border-radius: 50%;"></button>
            <div class="dropdown-content">
                <span><i class="fa-regular fa-user"></i> &nbsp;&nbsp;
                    Edit profile</span>
                <span><i class="fa-solid fa-gear"></i> &nbsp;&nbsp;
                    Settings</span>
                <span><i class="fa-solid fa-wallet"></i> &nbsp;&nbsp;
                    Wallet
                </span>
                <span><i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;&nbsp; Log out
                </span>
            </div>
        </div> -->
        <div class="" (click)="logout()">

            <button class="btn btn-outline-primary custom-outline-primary font-size14px rounded-lg mt-2">
                Log out&nbsp;&nbsp;<i class="fa-solid fa-arrow-right-from-bracket"></i>
            </button>
            
            <!-- Log-in&nbsp;&nbsp;<i class="fa-solid fa-arrow-right-from-bracket"></i> -->
        </div>
    </div>


    <!-- <div class="dropdown">
        <img src="../../../assets/dash-head1.jpg" alt="failed" class="img-dash dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div> -->
</div>