<app-sidebar></app-sidebar>
<div class="body-position">
    <app-dashboard-head></app-dashboard-head>
    <div class="main-container">
        <div>
            <h4>Customers</h4>
            <p class="page-intro">Whole data about your business here</p>
        </div>
        <div class="order-body">
            <div class="order-search-panel">
                <input 
                type="text" 
                placeholder="Search By Custom" 
                class="order-search form-control" 
                [(ngModel)]="searchText"
                (ngModelChange)="getCustoms(0, 10);">
                <div>
                    <button class="btn btn-outline-primary custom-outline-primary font-size14px rounded-lg custom-margin" type="submit" (click)="addCustom()">
                        <span>Add Custom</span>
                    </button>
                    <button *ngIf="customs!.length!=0 && customs!=null" class="btn btn-outline-primary custom-outline-primary font-size14px rounded-lg" type="submit" (click)="downloadFile()">
                        <span>Download Excel</span>
                    </button>
                </div>
            </div>
            <div class="order-table table-container">
                <table class="table table-striped">
                    <thead style=" background: #ffffff;
                    position: sticky;">
                    <tr class="header-fixed">
                        <th class="text-center nowrap col-md-2 col-lg-1">
                            <span class="font">Id</span>
                        </th>
                        <th class="text-center nowrap col-md-2 col-lg-1">
                            <span class="font">Custom</span>
                        </th>
                        <th class="text-center nowrap col-md-2 col-lg-1">
                            <span class="font">Custom Port</span>
                        </th>
                        <th class="text-center nowrap col-md-2 col-lg-1">
                            <span class="font">SMSA Fee (VAT)</span>
                        </th>
                        <th class="text-center nowrap col-md-2 col-lg-1">
                            <span class="font">Currency</span>
                        </th>
                        <th class="text-center nowrap col-md-2 col-lg-1">
                            <span class="font">Actions</span>
                        </th>
                    </tr>
                </thead>

                    <tbody>
                        <tr *ngFor="let custom of customs" class="order-table-row-hover">
                            <th class="text-center w-auto col-md-2 col-lg-1">{{custom?.id}}</th>
                            <td class="text-center w-auto col-md-2 col-lg-1">{{custom?.custom}}</td>
                            <td class="text-center w-auto col-md-2 col-lg-1">{{custom?.customPort}}</td>
                            <td class="text-center w-auto col-md-2 col-lg-1">{{custom?.smsaFeeVat}}</td>
                            <td class="text-center w-auto col-md-2 col-lg-1">{{custom?.currency}}</td>
                            <td class="order-table-btns-container text-center w-auto col-md-2 col-lg-1">
                                <i [style.color]="custom?.present ? 'black' : 'red'" style="cursor: pointer !important;" class="fa-solid fa-pen"(click)="updateCustom(custom?.id)"></i>&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="row mt-4">
            <div class="col">
            </div>
            <div class="col-auto">
                <mat-paginator [pageSize]="itemsPerPage" [length]="totalItems" (page)="changePage($event)"> </mat-paginator>
            </div>
        </div>
        
    </div>
</div>